body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, Helvetica, sans-serif;
}
ol {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
}
ol li {
    margin-left: 0px;
    padding-left: 0px;
    -qt-block-indent: 0;
}

.transliteration {
    font-weight: bold;
}

.normalization {
    font-style: italic;
    font-weight: normal;
}

h5 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

span.null {
	font-weight: bold;
	color: #CCCCCC;
}

table { border-collapse: collapse; }
tr { border: none; }
td {
  border-right: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
}